<!DOCTYPE html>
<html lang="ru">
<%
var data = {
    title: 'Агентства',
};
var header = {
    logo: 'logo-big.svg',
    badge_class: 'badge-primary text-light'
};
%>
<%= _.template(require('./../includes/head.html'))(data) %>
<body>
<header class="header">
    <%= _.template(require('./../includes/header-mobile.html'))() %>
    <div class="collapse navbar-collapse d-md-block" id="navbarToggler">
        <%= _.template(require('./../includes/toolbar.html'))(header) %>
        <%= _.template(require('./../includes/header.html'))(header) %>
        <%= _.template(require('./../includes/navbar.html'))() %>
    </div>
</header>
<div class="wrapper">
    <div class="agency">
        <div class="container">
            <h1><%= data.title %></h1>
            <h3 class="pt-3">Казань</h3>
            <div class="row">
                <%= _.template(require('./../includes/agency-item.html'))() %>
                <%= _.template(require('./../includes/agency-item.html'))() %>
                <%= _.template(require('./../includes/agency-item.html'))() %>
                <%= _.template(require('./../includes/agency-item.html'))() %>
                <%= _.template(require('./../includes/agency-item.html'))() %>
                <%= _.template(require('./../includes/agency-item.html'))() %>
                <%= _.template(require('./../includes/agency-item.html'))() %>
            </div>
            <h3 class="pt-3">Москва</h3>
            <div class="row">
                <%= _.template(require('./../includes/agency-item.html'))() %>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary footer-twin">
<%
var header = {
    logo: 'logo-big-light.svg',
    badge_class: 'badge-light text-dark'
};
%>
    <%= _.template(require('./../includes/toolbar.html'))(header) %>
    <%= _.template(require('./../includes/header.html'))(header) %>
    <%= _.template(require('./../includes/navbar.html'))() %>
</div>
<%= _.template(require('./../includes/footer.html'))() %>
<%= _.template(require('./../includes/modal.html'))() %>
<script src="/js/vendors/jquery.min.js"></script>
<script src="/js/vendors/popper.min.js"></script>
<script src="/js/vendors/bootstrap.min.js"></script>
<script src="/js/vendors/jquery.fancybox.min.js"></script>
<script src="/js/default.js"></script>
<script>
    $(function () {
        new Default().apply();
    });
</script>
</body>
</html>