<!DOCTYPE html>
<html lang="ru">
<%
var data = {
    title: 'Агенты',
};
var header = {
    logo: 'logo-big.svg',
    badge_class: 'badge-primary text-light'
};
%>
<%= _.template(require('./../includes/head.html'))(data) %>
<body>
<header class="header">
    <%= _.template(require('./../includes/header-mobile.html'))() %>
    <div class="collapse navbar-collapse d-md-block" id="navbarToggler">
        <%= _.template(require('./../includes/toolbar.html'))(header) %>
        <%= _.template(require('./../includes/header.html'))(header) %>
        <%= _.template(require('./../includes/navbar.html'))() %>
    </div>
</header>
<div class="wrapper">
    <div class="agents">
        <div class="container">
            <h1>Евгений Кеиханаикука</h1>
            <div class="agent">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <img src="https://randomuser.me/api/portraits/lego/6.jpg" alt="Евегний Дмитриевич - Знает все об этом объекте 2-ком. квартира. 133,00 м²" class="img-fluid agent__pic" />
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="agents__info">
                            <p>Добавлено объектов: 1 за неделю / 2 за месяц / 5 всего</p>
                            <button class="btn btn-lg btn-outline-success" data-phone="999 845-23-22">+7 ... показать</button>
                        </div>
                        <div class="property__feedback-phone">
                            <div class="text-primary">Оставьте свой номер телефона и мы Вам перезвоним</div>
                            <div class="property__feedback-help">
                                <small>Oтпpaвляя зaявкy вы coглaшaeтecь нa oбpaбoткy <a href="javascript:void(0);">пepcoнaльныx дaнныx</a></small>
                            </div>
                            <div>
                                <div class="input-group">
                                    <input type="phone" class="form-control form-control-lg" placeholder="+7 000 000-00-00" />
                                    <button class="btn btn-lg btn-outline-success">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Объекты</h2>
            <h3>1-комнатные квартиры</h3>
            <div class="slider" data-offers>
                <a class="slider__item" href="/property.html">
                    <%
                        var offer = {
                            img: "https://avatars.mds.yandex.net/get-realty/895985/add.1522672849855d0709586f7/app_snippet_large",
                            title: "4-к кварира, 120 м²",
                            price: "6 000 000"
                        }
                    %>
                    <%= _.template(require('./../includes/offer-card.html'))(offer) %>
                </a>
                <a class="slider__item" href="/property.html">
                    <%
                        var offer = {
                            img: "https://avatars.mds.yandex.net/get-realty/773594/add.1521719968521ccacb41e00/app_snippet_large",
                            title: "3-к кварира, 120 м²",
                            price: "16 000 000"
                        }
                    %>
                    <%= _.template(require('./../includes/offer-card.html'))(offer) %>
                </a>
            </div>
            <h3>2-комнатные квартиры</h3>
            <div class="slider" data-offers>
                <a class="slider__item" href="/property.html">
                    <%
                        var offer = {
                            img: "https://avatars.mds.yandex.net/get-realty/895985/add.1522672849855d0709586f7/app_snippet_large",
                            title: "4-к кварира, 120 м²",
                            price: "6 000 000"
                        }
                    %>
                    <%= _.template(require('./../includes/offer-card.html'))(offer) %>
                </a>
                <a class="slider__item" href="/property.html">
                    <%
                        var offer = {
                            img: "https://avatars.mds.yandex.net/get-realty/773594/add.1521719968521ccacb41e00/app_snippet_large",
                            title: "3-к кварира, 120 м²",
                            price: "16 000 000"
                        }
                    %>
                    <%= _.template(require('./../includes/offer-card.html'))(offer) %>
                </a>
                <a class="slider__item" href="/property.html">
                    <%
                        var offer = {
                            img: "https://avatars.mds.yandex.net/get-realty/993463/add.15239882149545f9c66a9ad/app_snippet_large",
                            title: "12-к кварира, 2120 м²",
                            price: "162 000 000"
                        }
                    %>
                    <%= _.template(require('./../includes/offer-card.html'))(offer) %>
                </a>
                <a class="slider__item" href="/property.html">
                    <%
                        var offer = {
                            img: "https://avatars.mds.yandex.net/get-realty/895985/add.1522672849855d0709586f7/app_snippet_large",
                            title: "4-к кварира, 120 м²",
                            price: "6 000 000"
                        }
                    %>
                    <%= _.template(require('./../includes/offer-card.html'))(offer) %>
                </a>
                <a class="slider__item" href="/property.html">
                    <%
                        var offer = {
                            img: "https://avatars.mds.yandex.net/get-realty/895985/add.1522672849855d0709586f7/app_snippet_large",
                            title: "4-к кварира, 120 м²",
                            price: "6 000 000"
                        }
                    %>
                    <%= _.template(require('./../includes/offer-card.html'))(offer) %>
                </a>
                <a class="slider__item" href="/property.html">
                    <%
                        var offer = {
                            img: "https://avatars.mds.yandex.net/get-realty/895985/add.1522672849855d0709586f7/app_snippet_large",
                            title: "4-к кварира, 120 м²",
                            price: "6 000 000"
                        }
                    %>
                <%= _.template(require('./../includes/offer-card.html'))(offer) %>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary footer-twin">
<%
var header = {
    logo: 'logo-big-light.svg',
    badge_class: 'badge-light text-dark'
};
%>
    <%= _.template(require('./../includes/toolbar.html'))(header) %>
    <%= _.template(require('./../includes/header.html'))(header) %>
    <%= _.template(require('./../includes/navbar.html'))() %>
</div>
<%= _.template(require('./../includes/footer.html'))() %>
<%= _.template(require('./../includes/modal.html'))() %>
<script src="/js/vendors/jquery.min.js"></script>
<script src="/js/vendors/popper.min.js"></script>
<script src="/js/vendors/bootstrap.min.js"></script>
<script src="/js/vendors/bootstrap-multiselect.js"></script>
<script src="/js/vendors/slick.min.js"></script>
<!--<script src="/js/utils.js"></script>-->
<script src="/js/default.js"></script>
<script src="/js/Agents.js"></script>
<script src="/js/OfferSlider.js"></script>
<script>
    $(function () {
        new Default().apply();
        new Agents().apply();
        new OfferSlider().apply();
    });
</script>
</body>
</html>