<!DOCTYPE html>
<html lang="ru">
<%
var data = {
    title: 'Новости',
};
var header = {
    logo: 'logo-big.svg',
    badge_class: 'badge-primary text-light'
};
%>
<%= _.template(require('./../includes/head.html'))(data) %>
<body>
<header class="header">
    <%= _.template(require('./../includes/header-mobile.html'))() %>
    <div class="collapse navbar-collapse d-md-block" id="navbarToggler">
        <%= _.template(require('./../includes/toolbar.html'))(header) %>
        <%= _.template(require('./../includes/header.html'))(header) %>
        <%= _.template(require('./../includes/navbar.html'))() %>
    </div>
</header>
<div class="wrapper">
    <div class="news">
        <div class="container">
            <h1>Новости</h1>
            <div class="news-list">
                <div class="row">
                    <a href="javascript:void(0);" class="news-list__item col-lg-3 display-block">
                        <div class="news-list__pic">
                            <img src="//realty.yandex.ru/T69ry9/263b7cgrfX/nLB/Vbce8M2/CfodmJuR8/CH/xXmcJAwK/molT/-HZbU_/vmQgGk1xS-/1XjdVB/C2/By0mIh/xpqffipc"
                                alt="" />
                        </div>
                        <div class="news-list__text">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack
                            and even kill others. I thought back to my own angry youth, when I could easily use words to justify violent…</div>
                        <div class="news-list__date">27.10.2016</div>
                    </a>
                    <a href="javascript:void(0);" class="news-list__item col-lg-3 display-block">
                        <div class="news-list__pic">
                            <img src="//realty.yandex.ru/T69ry9/263b7cgrfX/nLB/Vbce8M2/CfodmJuR8/CH/xXmcJAwK/molT/-HZbU_/vmQgGk1xS-/1XjdVB/C2/By0mIh/xpqffipc"
                                alt="" />
                        </div>
                        <div class="news-list__text">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack
                            and even kill others. I thought back to my own angry youth, when I could easily use words to justify violent…</div>
                        <div class="news-list__date">27.10.2016</div>
                    </a>
                    <a href="javascript:void(0);" class="news-list__item col-lg-3 display-block">
                        <div class="news-list__text">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack
                            and even kill others. I thought back to my own angry youth, when I could easily use words to justify violent…</div>
                        <div class="news-list__date">27.10.2016</div>
                    </a>
                    <a href="javascript:void(0);" class="news-list__item col-lg-3 display-block">
                        <div class="news-list__pic">
                            <img src="//realty.yandex.ru/T69ry9/263b7cgrfX/nLB/Vbce8M2/CfodmJuR8/CH/xXmcJAwK/molT/-HZbU_/vmQgGk1xS-/1XjdVB/C2/By0mIh/xpqffipc"
                                alt="" />
                        </div>
                        <div class="news-list__text">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack
                            and even kill others. I thought back to my own angry youth, when I could easily use words to justify violent…</div>
                        <div class="news-list__date">27.10.2016</div>
                    </a>
                    <a href="javascript:void(0);" class="news-list__item col-lg-3 display-block">
                        <div class="news-list__pic">
                            <img src="//realty.yandex.ru/T69ry9/263b7cgrfX/nLB/Vbce8M2/CfodmJuR8/CH/xXmcJAwK/molT/-HZbU_/vmQgGk1xS-/1XjdVB/C2/By0mIh/xpqffipc"
                                alt="" />
                        </div>
                        <div class="news-list__text">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and
                            even kill others. I thought back to my own angry youth, when I could easily use words to justify violent…</div>
                        <div class="news-list__date">27.10.2016</div>
                    </a>
                    <a href="javascript:void(0);" class="news-list__item col-lg-3 display-block">
                        <div class="news-list__pic">
                            <img src="//realty.yandex.ru/T69ry9/263b7cgrfX/nLB/Vbce8M2/CfodmJuR8/CH/xXmcJAwK/molT/-HZbU_/vmQgGk1xS-/1XjdVB/C2/By0mIh/xpqffipc"
                                alt="" />
                        </div>
                        <div class="news-list__text">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and
                            even kill others. I thought back to my own angry youth, when I could easily use words to justify violent…</div>
                        <div class="news-list__date">27.10.2016</div>
                    </a>
                    <a href="javascript:void(0);" class="news-list__item col-lg-3 display-block">
                        <div class="news-list__text">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and
                            even kill others. I thought back to my own angry youth, when I could easily use words to justify violent…</div>
                        <div class="news-list__date">27.10.2016</div>
                    </a>
                    <a href="javascript:void(0);" class="news-list__item col-lg-3 display-block">
                        <div class="news-list__pic">
                            <img src="//realty.yandex.ru/T69ry9/263b7cgrfX/nLB/Vbce8M2/CfodmJuR8/CH/xXmcJAwK/molT/-HZbU_/vmQgGk1xS-/1XjdVB/C2/By0mIh/xpqffipc"
                                alt="" />
                        </div>
                        <div class="news-list__text">Watching the news the other day, it occurred to me that people who have “words to live by” often begin to attack and
                            even kill others. I thought back to my own angry youth, when I could easily use words to justify violent…</div>
                        <div class="news-list__date">27.10.2016</div>
                    </a>
                </div>
                <div class="list-control text-center">
                    <a href="javascript:void(0);" role="button" class="btn btn-lg btn-secondary">Показать еще 12</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary footer-twin">
<%
var header = {
    logo: 'logo-big-light.svg',
    badge_class: 'badge-light text-dark'
};
%>
    <%= _.template(require('./../includes/toolbar.html'))(header) %>
    <%= _.template(require('./../includes/header.html'))(header) %>
    <%= _.template(require('./../includes/navbar.html'))() %>
</div>
<%= _.template(require('./../includes/footer.html'))() %>
<%= _.template(require('./../includes/modal.html'))() %>
<script src="/js/vendors/jquery.min.js"></script>
<script src="/js/vendors/popper.min.js"></script>
<script src="/js/vendors/bootstrap.min.js"></script>
<script src="/js/vendors/bootstrap-multiselect.js"></script>
<!--<script src="/js/utils.js"></script>-->
<script src="/js/default.js"></script>
<script>
    $(function () {
        new Default().apply();
    });
</script>
</body>
</html>