.testimonial {
    @include padding;
    &__item {
        margin-top: 30px;
        padding: 20px;
        background-color: $white;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.03);
    }
    &__text {
        font-family: $font-family-alter;
        font-size: 12px;
        line-height: 1.67;
        @include media-breakpoint-down(xs) {
            display: none;
        }
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}